<h1>Artist Show Page</h1>

<h4><%= @artist.name %></h4>
<p><%= @artist.title %></p>
<p><%= @artist.age %></p>

<h1>My instruments & their Rating</h1>

<% @artist.instruments.uniq.each do |instrument| %>
  <p><%= instrument.name %></p>
<% end %>

<%= link_to "INDEX PAGE", artists_path %>


<%# <h1>My instruments & their Rating</h1> %>
<%# @artist.artist_instruments.each do |artist_instrument| %>
  <p><%# artist_instrument.instrument.name %></p>
  <p><%# artist_instrument.rating %></p>
<%# end %>