<h1>New Join Instance</h1>

<%= form_for @artist_instrument  do |f| %>
  <%= f.label :artist_id  %>
  <%= f.collection_select :artist_id, @artists, :id, :name_plus_title %>

  <%= f.label :instrument_id  %>
  <%= f.collection_select :instrument_id, @instruments, :id, :name  %>

  <%= f.submit %>
<% end %>

